* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}
body {
  background-color: #111;/* 
  background-image: url(./assets/bean.jpg);
  background-position: center; */
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 100wh;
  padding: 2rem;
  font-size: 12px;
}
.coffe-btn-container {
  background-color: #20160f99;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #00000090;
  width: 960px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
.logo-text {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: #ca8505;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px rgb(245, 126, 0);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.logo-text img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.horizontal {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}
.left-side {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 40px;
  flex-direction: column;
  width: 45%;
}
.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  width: 45%;
}
.brygg {
  background-color: #392a1e;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recent-brewer-status {
  background-color: #392a1e;
  padding: 40px;
  border-radius: 20px;
}
.recent-brewer-status div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 33px 0;
  font-size: 1.2em;
}.recent-brewer-status div p{
  color: #ca8505;
}
.top-brewers {
  background-color: #392a1e;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.top-brewers-list{
  margin: 10px;
  width: 100%;
  counter-reset: item;
}
.top-brewer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  counter-increment: item;
  gap: 3px;
  margin: 10px 0 0;
}
.top-brewer-container::before {
  content: counter(item) ". ";
  color: #ca8505;
  margin-right: 0.5rem;
  font-size: 1.1em;
}
.recent-brewers {
  background-color: #392a1e;
  padding: 40px;
  border-radius: 20px;
  width: 100%;
}
.recent-brewers-list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recent-brewers-list li{
  margin: 5px;
  padding: 15px;
  border-bottom: 1px dotted #eeeEEE50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: #11111150;
}
.name-time-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  gap:5px
}
.brewer-name{
font-size: 1.2em;
font-weight: bold;
color: #ca8505;
margin: 0 0;
}
.brewer-date{
  font-size: 0.7em;
margin: 10px 0 0;
}
.brewer-time{
  font-size: 1em;
  color: #ffe7be;
}
.kudos-klick{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin: 8px 0 0 0px;
  padding-left: 15px;
  border-left: 4px dotted #EEEEEE50;
  height: 100%;
}
.kudos-btn{
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.thumbs-icon {
  color: #ca8505;
}
.brew-btn {
  background-color: #ca8505;
  transition: background 0.3s ease, transform 0.1s ease;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 20px;
  height: 4em;
  border: 3px solid #bd9858;
  color: #fff;
  font-weight: bold;
  box-shadow: 1px 1px 5px 5px #11111190 inset;
}
.brew-btnhover:hover:not(:disabled) {
  transform: scale(1.05);
  cursor: pointer;
}
.brew-btnhover:disabled {
  background-color: #d1c0ad;
  cursor: not-allowed;
}
.user-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.user-input-container h2 {
  font-size: 1.2rem;
  display: inline;
  margin: 10px;
}
.user-input-container li {
  font-size: 0.8rem;
  margin: 10px;
}
.user-input {
  padding: 0.6rem 1rem;
  border: 2px solid #ca8505;
  border-radius: 20px;
  font-size: 1.5rem;
  width: 100%;
  height: 60px;
  max-width: 200px;
  margin: 20px;
  text-align: center;
  box-shadow: 1px 1px 5px 5px #11111190 inset;
}
.user-input::placeholder {
  font-size: 0.45em;
  text-align: center;
}
.container-quotes {
  background-color: #00000050;
  padding: 15px;
  color: #ca8505;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 5px #11111190 inset;
  margin: 20px ;

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
  padding: 40px;
  background-color: #11111150;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #00000090;
}
.copyrighttxt, .autorsCreds{
  font-size: 0.8em;
  text-align: center;
}
.autorsCreds a{
  font-size: 0.8em;
  color: #ca8505;
  text-decoration: none;
}
.brewer {
  background: #f0e6d8;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

/* Responsivitet */
@media (max-width: 480px) {
  #root {
    padding: 1.2rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .userInput input {
    width: 100%;
  }
}
